body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
}
header {
    background-color: #a67a7a;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}